
    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Casino Game website prepared using bootstrap. Made by Aniket Autade</p>
      </div>
    </footer>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="jquery.js" charset="utf-8" defer></script>
</body>

</html>
