<%- include("header") -%>
<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto adjust-margin">
      <div class="inner">
        <h3 class="masthead-brand">Viking Casino</h3>
        <nav class="nav nav-masthead justify-content">
          <a class="nav-link active" href="#">Home</a>
          <a class="nav-link" href="#">Rules</a>
          <a class="nav-link" href="#">Contact</a>
        </nav>
      </div>
    </header>

    <div class="gamewindow container">

      <div class="button_pos">
        <button class="start_button btn btn-lg" type="submit" name="start_button">Start Game</button>
      </div>

      <div class="container dealer gamebegin">

        <div class="div_positioning_dealer_card1">

        </div>

        <div class="div_positioning_dealer_card2">

        </div>

        <div class="div_positioning_dealer_card3">

        </div>

        <div class="div_positioning_dealer_card4">

        </div>

        <div class="div_positioning_dealer_card5">

        </div>

        <div class="div_positioning_dealer_card6">

        </div>

        <div class="div_positioning_dealer_card7">

        </div>

        <div class="div_positioning_dealer_card8">

        </div>


        <h2> Dealers Cards</h2>
        <p class="div_positioning1 dealer_draw">Dealer must draw card to 17 or more</p>

      </div>

      <div class="container player1 gamebegin">

        <div class="div_positioning_card1">

        </div>
        <div class="div_positioning_card2">

        </div>
        <div class="div_positioning_card3">

        </div>
        <div class="div_positioning_card4">

        </div>
        <div class="div_positioning_card5">

        </div>
        <div class="div_positioning_card6">

        </div>

        <div class="div_positioning_card7">

        </div>
        <div class="div_positioning_card8">

        </div>

        <div class="div_positioning2">
          <h2 class=""> Player Cards </h2>
        </div>

        <div class="div_positioning3">
          <button class="btn btn-dark btn-primary draw_button" type="submit" name="button"> <strong>Draw</strong></button>
          <button class="btn btn-dark btn-primary stop_button" type="submit" name="button"> <strong>Stop</strong></button>
        </div>
      </div>

      <div class="gamewindow result gameresult">
        <h1 class="result_info"> </h1>
      </div>

    </div>

<%- include("footer") -%>
